<%- include('../partials_admin/__head.ejs') %>

<body>
    <%- include('../partials_admin/__navbar.ejs') %>
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Data Pembayaran</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/superusers">Home</a></li>
                    <li class="breadcrumb-item active">Data Pembayaran</li>
                </ol>
            </nav>
        </div>
        <section class="section dashboard">
            <div class="container">
                <div class="row">
                    <%- include('../partials_admin/__messagess.ejs') %>
                    <div class="col">
                        <% if (data.length > 0) { %>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID Pembayaran</th>
                                    <th scope="col">Nama Pengguna</th>
                                    <th scope="col">Nama Menu</th>
                                    <th scope="col">Status Pembayaran</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.forEach(function(item) { %>
                                <tr>
                                    <td><%= item.id_pembayaran %></td>
                                    <td><%= item.nama %></td>
                                    <td><%= item.nama_menu %></td>
                                    <td><%= item.status_pembayaran %></td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                        <% } else { %>
                        <p>Tidak ada data pembayaran.</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->

    <%- include('../partials_admin/__footer.ejs') %>
</body>
